body {
    margin: 0;
    font-family: 'Roboto';
}

.instructions-content {
    display: inline-block;
    margin: 5px 2px;
}

.top-menu-item {
    display: inline-block;
    text-decoration: none;
    list-style: none;
}