body {
    margin: 0;
    font-family: 'Roboto';
}

#instructions-wrap {
    box-shadow: 0px 0px 5px black;
    padding: 0px 10px;
}

.instructions-content {
    display: inline-block;
    margin: 5px 2px;
}

.top-menu-item {
    display: inline-block;
    text-decoration: none;
    list-style: none;
}